{% extends 'layout.html.twig' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
    {% for language in languages %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3 text-center">
            <figure class="figure">
            <a href="/language/sheets/{{ language.id }}" class="thumbnail">
                <div class="img-language">
                <img src="{{ language.image }}" alt="le logo de {{ language.name }}" width="100px" />
                </div>
                <div class="text-language">
                    <figcaption class="figure-caption text-center"> Les sheets {{ language.name }}.</figcaption>
                </div>
            </a>
            </figure>
        </div>
    {% endfor %}
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3 text-center">
            <figure class="figure">
            <a href="/language/novalid" class="thumbnail">
                <div class="img-language">
                <img src="/assets/images/Crook_.png" alt="Cr00ks" width="100px" />
                </div>
                <div class="text-language">
                    <figcaption class="figure-caption text-center"> Les sheets non trié.</figcaption>
                </div>
            </a>
            </figure>
        </div>
    </div>
</div>

{% endblock %}