{% extends 'layout.html.twig' %}
{% block content %}
<div class="container-fleximage">
    {% for language in languages %}
                <div class="image-language">
                    <figure class="figure">
                    <a href="/language/sheets/{{ language.id }}" class="thumbnail">
                        <div class="img-language">
                        <img src="{{ language.image }}" alt="A generic logo from {{ language.name }}" width="100px" />
                        </div>
                        <div class="text-language">
                        <figcaption class="figure-caption text-center"> Les sheets {{ language.name }}.</figcaption>
                        </div>
                    </a>
                    </figure>
                </div>
    {% endfor %}
</div>

{% endblock %}