{% extends 'layout.html.twig' %}
{% block content %}
<div class="container fleximage">
    {% for language in languages %}
                <div class="image-language">
                    <figure class="figure">
                    <a href="languages.html.twig?{{ language.id }}" class="thumbnail">
                        <img src="{{ language.image }}" alt="A generic logo from {{ language.name }}" width="100px" />
                        <figcaption class="figure-caption text-right">Voir tous les Sheets {{ language.name }}.</figcaption>
                    </a>
                    </figure>
                </div>
    {% endfor %}
</div>

{% endblock %}