{% extends 'layout.html.twig' %}
{% block content %}
    {% if sheets is not empty %}
    <div class="container-fluid">
        <div class="row">
            {% for sheet in sheets %}
                <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4 card-home"> {%include '_Components/_card.html.twig'  %}</div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="container-fluid no-language">
        <div class="row">
            <p>
                <i class="far fa-smile-wink"></i>
                Les administrateurs ont fait leur travail et ont rangé tous les sheets.
                <i class="far fa-smile-wink"></i>
            </p>
        </div>
    </div>
    {% endif %}
{% endblock %}