{% extends 'layout.html.twig' %}
{% block content %}
<section id="about">
    <div class="container">
        <div class="row about-container">

            <div class="col-lg-6 content order-lg-1 order-2">
                <h2 class="title">À propos </h2>
                <p>
                    La Crook team n'a qu'un seul but : vous aidez à devenir de meilleurs programmeurs et programmeuses en vous apportant des antisèches clair et concis.


                </p>

                <div class="icon-box wow fadeInUp">
                    <h4 class="title">Rapidité </h4>
                    <p class="description"> Notre interface vous permet de naviguer en trouvant rapidement ce que vous cherchez.</p>
                </div>

                <div class="icon-box wow fadeInUp" >
                    <h4 class="title">Efficacité </h4>
                    <p class="description">Nous avons pensé un site plus efficace que Wikipédia. Impossible ? Et bien pourtant, nous l'avons fait. Fini les explications à rallonge qui finissent par vous perdre.
                        Découvrez maintenant nos antisèches ou bien "sheet" de leurs petits noms.</p>
                </div>

                <div class="icon-box wow fadeInUp">
                    <h4 class="title">Clarté</h4>
                    <p class="description">Le but de ces "sheet" ? Vous expliquez de manière plus pédagogue la notion que vous n'avez pas compris ou que vous ne connaissez pas.</p>
                </div>

                <div class="icon-box wow fadeInUp">
                    <h4 class="title">Collaboration</h4>
                    <p class="description">Le monde de la programmation est une grande famille où l'entraide est une valeur importante. Tu veux participer à ce mouvement et partager tes connaissances ? Alors sans plus attendre, enregistre toi sur le site et commence à créer tes premiers sheet !</p>
                </div>

    </div>
            <div class="crook-logo">
                <a href=""><img src="https://zupimages.net/up/20/18/babp.png" alt="crook logo" /></a>
            </div>
</section>
{% endblock %}
