{% extends 'layout.html.twig' %}
{% block title %}Oups{% endblock %}
{% block content %}
    <div id="main">
        <div class="container-fluid">
            <div class="text-center">
                <h1>Error 404 </h1>
            </div>
            <div class="text-center">
                <img src="https://zupimages.net/up/20/19/djhs.jpg" alt="" width="500px">
            </div>
            <div class="blank">
                <p>

                </p>
            </div>
            <div class="text_center3">
                <a href="/home/index">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}