{% extends 'layout.html.twig' %}

{% block content %}

    {# todo Carousel #}
    <div class="container-fluid">
        <div class="row">
            {% for sheet in sheets %}
                <div class="col-md-4 card-home"> {%include '_Components/_card.html.twig'  %}</div>
            {% endfor %}
        </div>

    </div>
    {# end Carousel #}
{% endblock %}








