{% extends 'layout.html.twig' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="offset-5 col-5">
        <a href=""><img src="https://zupimages.net/up/20/16/bpcj.png" alt="crook logo" /></a>
        </div>
    </div>

    <div class="text offset-5 col-5">
        <h1> Bienvenue sur Crook</h1>

        <p>Générateur d'antisèche pour les</p>
            <p>
                <span class="word wisteria">Wilder.</span>
                <span class="word belize">Developpeur.</span>
                <span class="word pomegranate">Geek.</span>
                <span class="word green">Passionné.</span>
            </p>
        </div>
</div>
        <br>
    <br>
    <hr>
    <h2>Sheet ajouté récemment</h2>
    <div class="container-fluid">
        <div class="row">
            {% for sheet in sheets %}
                <div class="col-md-4 card-home"> {%include '_Components/_card.html.twig'  %}</div>
            {% endfor %}
        </div>

    </div>
    {# end Carousel #}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/assets/js/animationTitle.js"></script>
{% endblock %}






