{% extends 'layout.html.twig' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="offset-5 col-5">
        <a href=""><img src="https://zupimages.net/up/20/16/bpcj.png" alt="crook logo" /></a>
        </div>
    </div>
    </div>
    <div class="banner">
        <h1> Bienvenue sur Crook</h1>

        <p class="cd-headline rotate-1">
            <span>Générateur D'antisèche pour les </span>
            <span class="cd-words-wrapper">
                            <b class="is-visible">Wilder</b>
                             <b>Développeur</b>
                             <b>Geek</b>
                             <b>Passionné</b>
                    </span>
        </p>
    </div>
    <br>
    <br>
    <hr>
    <h2>Sheet ajouté récemment</h2>
    <div class="container-fluid">
        <div class="row">
            {% for sheet in sheets %}
                <div class="col-md-4 card-home"> {%include '_Components/_card.html.twig'  %}</div>
            {% endfor %}
        </div>

    </div>
    {# end Carousel #}
    <script src="/assets/js/jquery.animatedheadline.min.js"></script>
{% endblock %}








