{% extends 'layout.html.twig' %}
{% block content %}
    <section class="container-fluid">
        <h2 class="text-center">Ajout de sheet</h2>
        <form action="" method="post">
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control" placeholder="in_array()">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" placeholder="Une courte description de sont utilité">
            </div>
            <div class="form-group">
                <label for="language">Language</label>
                <select name="language" id="language" class="form-control">
                    <option value="0">Veuillez choisir un language</option>
                    {% for language in languages %}
                        <option value="{{ language.name }}">{{ language.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="content">Ajoute ton sheet</label>
                <textarea name="content" id="content" class="form-control" cols="30" rows="10"></textarea>
            </div>
            <div class="form-group row">
                <div class="col-6 text-center">
                    <button type="reset" class="btn btn-primary">Vider</button>
                </div>
                <div class="col-6 text-center">
                    <button type="submit" class="btn btn-success">Envoyer</button>
                </div>
            </div>
        </form>
    </section>
{% endblock %}