<!doctype html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://kit.fontawesome.com/c8a8d1abbe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.2/styles/dracula.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="/">
        <div class="logo-image">
            <img src="https://zupimages.net/up/20/16/3j1o.png" class="img-fluid">
        </div>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Acceuil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/about">À propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Language/list">Langages</a>
                </li>
            {% if session.pseudo %}
                <li class="nav-item">
                    <p class="nav-link">Bonjour {{ session.pseudo }} !</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/form/add">Créer un sheet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/favorite">Mes favoris</a>
                </li>
                {% if session.role_user is same as('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a href="/admin/home" class="nav-link">Administration</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/user/signin">Connexion / S'enregistrer</a>
                </li>
            {% endif %}
        </ul>

        <form  action="/home/search/" class="form-inline my-2 my-lg-0">
            <input  name="search" class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
            <button type="submit" class="btn btn-dark">Recherche</button>

        </form>
    </div>
</nav>


{% block content %}{% endblock %}


<footer class="footer">

    <div class="container">
        <span class="text-muted">

<!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Crook</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Fournisseur officiel de sheet pour développeurs et développeuses.</p>

      </div>
        <!-- Grid column -->

        <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Langages</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
        <p>
          <a href="#!">PHP</a>
        </p>
        <p>
          <a href="#!">JAVA</a>
        </p>
        <p>
          <a href="#!">Javascript</a>
        </p>
        <p>
          <a href="#!">Autre langages</a>
        </p>

      </div>
        <!-- Grid column -->

        <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Liens utiles</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
        <p>
          <a href="#!">Votre compte</a>
        </p>
        <p>
          <a href="#!">Devenir membre </a>
        </p>
        <p>
          <a href="#!">FAQ</a>
        </p>

      </div>
        <!-- Grid column -->

        <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i>Bordeaux, France</p>
        <p>
          <i class="fas fa-envelope mr-3"></i>crookteam@crook.com</p>

      </div>
        <!-- Grid column -->

    </div>
      <!-- Grid row -->

  </div>
            <!-- Footer Links -->

            <!-- Copyright -->

        </span>
    </div>

</footer>
{#  End FOOTER #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/assets/js/ajaxFavorite.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>


