@font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: normal;
    src: local('Fira Code'),
    url('../fonts/FiraCode-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: bold;
    src: local('Fira Code'),
    url('../fonts/FiraCode-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: "Russo One";
    font-style: normal;
    font-weight: normal;
    src: local('Russo One'),
    url("../fonts/RussoOne-Regular.ttf") format('truetype');
}
h1, h2, h3, h4, h5 {
    font-family: "Russo One", sans-serif;
}
body {
    font-family: "Fira Code", sans-serif;
}
/*
    Navbar
 */

.logo-image {
    width: 132px;
    height: 68px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
h3 {
    color: aliceblue;
}

/*
    Card
 */



/*
    Carousel
 */




/* cell number */



/*
    Form
 */

/*
    Foooter
 */
.footer {
    padding-top: 3px;
    width: 100%;
    height: auto;
    background-color: #343A40;
}
.col-md-2 {
    color: aliceblue;
}
h6 {
    color: aliceblue;
}

/*
    login
 */
.register-border {
    display: block;
    width: 1px;
    height: 90%;
    border-right: grey 1px solid;
}
.image-language {
width: 400px;
    height: 300px;
    padding: 50px;
}
.fleximage {
    display: flex;
    text-align: center;
}
@media (max-width: 576px) {

    /*
        Navbar
     */



    /*
        Card
     */



    /*
        Carousel
     */



    /*
        Form
     */

    /*
        Login
     */
    .register-border {
        display: none;
    }
    .login-mobile {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {

    /*
        Navbar
     */



    /*
        Card
     */



    /*
        Carousel
     */



    /*
        Form
     */

}

@media (max-width: 992px) {

    /*
        Navbar
     */



    /*
        Card
     */



    /*
        Carousel
     */



    /*
        Form
     */

}

@media (max-width: 1200px) {

    /*
        Navbar
     */



    /*
        Card
     */



    /*
        Carousel
     */



    /*
        Form
     */

}
