{% extends 'layout.html.twig' %}
{% block content %}
    <section class="container-fluid">
        <div class="row">
            <div class="col-6">
                {%include '_Components/_register.html.twig'  %}
            </div>
            <div class="col-6">
                {%include '_Components/_login.html.twig'  %}
            </div>
        </div>
    </section>
{% endblock %}
