<div class="text-center">
    <h2>Se connecter</h2>
</div>
<form action="/user/login" method="post">
    <div class="form-group">
        <label for="email">Adresse email</label>
        <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="supremeLeader@lead.wo">
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp">
    </div>
        <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-block btn-primary">Se connecter</button>
    </div>
</form>